:root{
    /* COLORS */
    --blue-medium: #6DC4DD;
    --black: #202020;
    --white: #fff;
    --blue-light: #C0ECFA;
    --blue-dark: #004385;
    --orange-tapestry : #FF2800;
    --green-light: #DFF6C9;
    --gray-light: #F4F4F0;
    --white-warm: #FAFAF8;
    --orange-light: #FFD5C1;
    --orange-medium: #FF995C;
    --orange-dark: #EF5A02;

    /* FONTS */
    --font-headline: 'Chap',sans-serif;
    --font-content: 'Figtree',sans-serif;
}

.foldable li.people-list_item {
    padding:0;
    background-color: transparent;
}

.foldable li.people-list_item div.people--img {
    justify-content: flex-start;
}

.foldable li.people-list_item div.item--details .h4,
.foldable li.people-list_item div.item--details p,
.foldable .item--details {
    text-align: left;
}

.foldable .moreDetails {
    display: none;
    margin: 0 0 26px;
    text-align: left;
}
.foldable .moreDetails *{
    color:var(--black);
}

.foldable li.people-list_item div.item--details > div {
    justify-content: flex-end;
}
.item--details.noheight{
    max-height:unset!important;
}

ul.people-list {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);
    grid-column-gap: 20px;
    grid-row-gap: 56px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    

.people-list_item .item--details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

li.people-list_item div.people--img {
    height: 260px;
    width: 260px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}
li.people-list_item div.people--img img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 24px;
}
li.people-list_item div.item--details > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

li.people-list_item div.item--details .h4 {
    color: var(--black);
}

li.people-list_item div.item--details p.title {
    margin-bottom: 26px;
    margin-top: 16px;
    font-family: var(--font-content);
    font-size: 21px;
    font-size: 1.31rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    line-height: 2.13rem;
    color: var(--black);
}
.morecontent span {
    display: none;
}

li.people-list_item .moreBtn,
li.people-list_item .lessBtn {
    font-family: var(--font-content);
    font-size: 18px;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    line-height: 1.44rem;
    color: var(--orange-tapestry);
    background: transparent;
    border: 0;
    padding: 0 0 0px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(var(--orange-tapestry), var(--orange-tapestry));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 1px;
    transition: all .2s ease, underline .5s ease-in-out;
    align-items: center;
}

li.people-list_item .moreBtn::after {
    content: "";
    background: url(/wp-content/uploads/Plus-Symbol-Desktop.svg) center center / contain no-repeat;
    height: 14px;
    width: 14px;
}

li.people-list_item .lessBtn::after {
    content: "";
    background: url(/wp-content/uploads/Minus-Symbol-Desktop.svg) center center / contain no-repeat;
    height: 14px;
    width: 14px;
}


@media only screen and (max-width: 1366px) {
    ul.people-list {
        grid-template-columns: minmax(0, 2fr) minmax(0, 2fr);
    }
}

@media only screen and (max-width: 768px) {
    ul.people-list {
        grid-template-columns: minmax(0, 1fr);
        gap: 36px;
    }
    .foldable .moreDetails {
        margin: 0 0 16px;
    }
    li.people-list_item div.people--img img{
        width: 164px;
        height: 164px;
    }
    li.people-list_item div.people--img {
        width: 164px;
        height: 164px;
        border-radius: 8px;
        margin-bottom: 26px;
    }
    li.people-list_item div.item--details p.title{
        margin-bottom:16px;
        margin-top:16px;
    }
}
